_Store
.htaccess
Thumbs.db
*.swp
_notes
*/_archive/*
~*
composer-local.json
/.htaccess
.project
.settings
.buildpath
.idea/*
.vscode
.awcache
/nbproject/
/vendor/
node_modules/
bower_components/
npm-debug.log
/tests/cache/
/cgi-bin/
phpunit.xml
yarn-error.log
lerna-debug.log
git-diff.txt
phpcs-diff.json
